$color-primary: #C94C02;
$color-secondary: #5B8002;
$color-highlight: #C4C4C4;
$text-light: white;
$text-dark: rgb(0, 0, 0);
$color-dark: #7B7776;
$color-success: #38BE7F;
$color-danger: #ff0b0b;
$color-text: rgb(0, 0, 0);
$color-background:#F7F7F7;

$center-flex: (
  display: flex,
  flex-direction: row,
  justify-content: center,
  align-items: center
);