@import '../../style/variables.scss';

body {
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h2 {
        color: $color-primary;
        text-align: center;
        font-size: 44px;
        font-weight: 700;
    }

    p {
        color: $text-dark;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-top: -20px;
    }

    .form-container {
        width: 500px;
        height: auto;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 10px;

        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            input {
                border: 1px solid $color-highlight;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                margin-bottom: 15px;
                padding: 15px;
                width: 80%;
            }

            input:focus {
                outline: none;
            }

            .button-row {
                display: flex;
                justify-content: space-between;
                width: 80%;
            }

            .submit, .back {
                padding: 15px 40px;
                flex-shrink: 0;
                border-radius: 10px;
                font-size: medium;
                font-weight: bold;
                margin-top: 10px;
                cursor: pointer;
            }

            .submit {
                background-color: $color-primary;
                color: $text-light;
                border: none;

                &:hover {
                    background-color: #ee742e;
                }
            }

            .back {
                background-color: $text-light;
                color: $color-primary;
                border: 1px solid $color-primary;
            }

            .input-row {
                display: flex;
                justify-content: space-around;
                width: 80%;

                .input-container {
                    margin-bottom: 20px;
                    color: #7B7776;

                    input {
                        width: 80%;
                    }
                }
            }
        }
    }

    .left,
    .right {
        flex: 1;

        img {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;

        .form-container {
            width: 80%;
        }

        .left,
        .right {
            display: none;
        }
    }
}
